{% extends 'base1.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Num</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{commande.id}}</td>
                <td>{{ commande.dateCommande|date('Y-m-d H:i:s') }}</td>
                <td>{{commande.numCommande}}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="">Affichage</a>
                    <a href="" class="btn btn-sm btn-primary">Contenu
                        <i class="fab fa-connect"></i>
                    </a>
                    <a class="btn btn-success btn-sm" href="">Modification</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>

    </table>

</div>
{% endblock %}